{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant - Home</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'script.js' %}" defer></script>
    </head>
    
    {% block head %}{% endblock %}
</head>
<body>

    {% include 'header.html' %}
    {% block content %}
    {% endblock %}
    
    {% include 'footer.html' %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
