{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<section id="services" class="services">
    <h2 class="section-title">Our Services</h2>
    <form  method="get">
        <input type="text" name="servicename" value=""/>
        <input type="submit" value="search"/>
    </form>
    <div class="services-container">
        {% for n in ServiceData %}
        <div class="service-card">
            <h3>{{ n.service_name }}</h3>
            <h4>{{ n.service_title }}</h4>
            <p>{{ n.service_des }}</p>
        </div>
        {% empty %}
        No record Found.
        {% endfor %}
        <nav aria-label="...">
            <ul class="pagination">
                {% if ServiceData.has_previous %}
              <li class="page-item ">
                <a class="page-link" href="/service/?page=1" tabindex="-1">First</a>
              </li>
              <li class="page-item"><a class="page-link" href="/service/?page={{ServiceData.previous_page_number}}">previous</a></li>
              {% endif %}
              {% for n in totalpagelist %}
              <li class="page-item " aria-current="page">
                <a class="page-link" href="/service/?page={{n}}">{{n}}</a>
              </li>
              {% endfor %}
            
              {% if ServiceData.has_next %}
              <li class="page-item">
                <a class="page-link" href="/service/?page={{ServiceData.next_page_number}}"> Next</a>
              </li>
              {% endif %}
              <li class="page-item">
                <a class="page-link" href="/service/?page={{lastpage}}">last</a></li>
            </ul>
          </nav>
       
</section>        
{% endblock %}